{
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(210, 245, 245);
}

main {
      background-color: bisque;
      width: 500px;
      margin: auto;
      box-shadow: 3px 3px 5px black;
}